<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bók</title>
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>

    <div>
        {% if matched %}
          <h1>{{ matched }}</h1>
        {% else %}
          <h1>Sorry!</h1>
        {% endif %}
    </div>
    <div><a href="http://127.0.0.1:5000/">Til baka</a></div>
    <hr>
    {% for book in booklist %}
    {% if book.name == matched %}
        {{ yearcount[loop.index0].name }}
        {{ comp[loop.index0].name }}
    {% endif %}<!--nota endif og endfor til að enda if og for lykkjur-->
    {% else %}
    {% endfor %}
  <div>


  </div>

    <script src="/static/js/app.js"></script>
  </body>
</html>