<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bók</title>
    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
  {% for book in yearcount %}
  <div>
    {{ book.name }}
  </div>
  {% endfor %}
    <div>
        {% if matched %}
          <h1>{{ matched }}</h1>
        {% else %}
          <h1>Sorry!</h1>
        {% endif %}
    </div>
    <script src="/static/js/app.js"></script>
  </body>
</html>